<% include header %>
<% include nav %>

<div class="gridcontainer2">
    <div class="title">
          <h1>Eight</h1>
    </div>

    <div class="character">
          <img src="./img/eight.jpg" class="size">
    </div>
    <div class="number">
          <p class="cijfer">8</p>
    </div>
    <div class="desc">
          <h2 class="spatie"> Hannah met Ryan Shaver in a poetry class and really trusted him; that is, until he stole a very personal poem of Hannah's and published it, leading to more ridicule for Hannah. </h2>
          <p class="episode spatie">Here is another creepy character in a sea of creepy characters. Ryan, number eight on Hannah's list, is the talented teen poet who steals Hannah's poem and publishes it in the school paper. He doesn't use her name, so the ridicule she faces over it isn't as bad as it could be. But she knows she wrote it, and that's bad enough.
            Hannah might have been able to deal with the whole poem situation, but Ryan's betrayal is what really bothers her. Ryan seems to genuinely understand Hannah's poetry and that she's in a bad place in life. He talks to her like a friend and she really feels connected to him – something that she doesn't feel anywhere else. It's quite a blow, then, when he uses her pain and her trust against her and subjects her work to public ridicule. </p>
          <p class="episode spatie"> </p>
    </div>
</div>

<% include footer %>
