<% include header %>
<% include nav %>

<div class="gridcontainer2">
    <div class="title">
          <h1>Eleven</h1>
    </div>
    <div class="character">
          <img src="./img/eleven.jpg" class="size">
    </div>
    <div class="number">
          <p class="cijfer">11</p>
    </div>
    <div class="desc">
          <h2 class="spatie"> After a party, Jenny Kurtz offered Hannah a ride home, but knocked down a stop sign with her car. Jenny refused to report the incident, and shortly after, there was a fatal accident at the stop sign. </h2>
          <p class="episode spatie"> This is a weird and confusing one. Cheerleader Jenny Kurtz is number ten on the list. After an awful night at the ill-fated party, Jenny appears to Hannah like an angel. Lulled by the comfort of Jenny's car and the rain on the windows, Hannah falls asleep. She's woken up by the sound of Jenny crashing into a stop sign. </p>
          <p class="episode spatie"> Hannah learns later that just after this, there was a car accident at the site. We don't know for sure that the fallen stop sign was the cause of the crash, but it seems likely. Hannah blames Jenny for not using her phone to report the hazard; she was more worried about getting in trouble than people possibly getting hurt. Jenny is just one more example of someone who seems nice on the outside but turns out to seriously lack consideration for others.
            And it turns out, Hannah might just be one of those people, too. While she's snoozing in Jenny's car, Jessica is still upstairs at the party, alone after being raped (or so Hannah believes). Like Jenny, Hannah fails to take action to help. But wait a second, Hannah is deeply unstable and even suicidal, so is it fair to place blame on her? Once again, Thirteen Reasons Why presses us with some really tough questions. </p>
    </div>
</div>

<% include footer %>
