<% include header %>
<% include nav %>

<div class="gridcontainer2">
    <div class="title">
          <h1>Five</h1>
    </div>
    <div class="character">
          <img src="./img/five.jpg" class="size">
    </div>
    <div class="number">
          <p class="cijfer">5</p>
    </div>
    <div class="desc">
          <h2 class="spatie"> Courtney Crimson, a super fake girl at school, started rumors that Hannah had sex toys in her bedroom. </h2>
          <p class="episode spatie"> Who doesn't love Courtney? Well, Hannah, for one. Number five on Hannah's list, Courtney is the pretty, sweet girl at school. But Hannah thinks she's a phony: Courtney only pretends to like Hannah when she needs something, like a ride to a party or an adventurous night of let's-catch-the-Peeping-Tom.</p>
          <p class="episode spatie"> Courtney betrays Hannah by inventing a story that Hannah keeps sex toys in her dresser. Courtney's betrayal contributes to Hannah's belief that nobody around her is even slightly trustworthy.
            Courtney Crimsen is known as the popular, perfect girl at school. She's respected and admired by everyone at school, including Hannah, but she turns out to be a very manipulative, sneaky girl. She becomes number five on Hannah's list after her actions toward Hannah. </p>
    </div>
</div>

<% include footer %>
