  <script src="./js/template.js"></script>
  </body>
  <footer>
    <ul>
      <li> <a href="https://www.netflix.com/be/title/80117470"> Netflix </a></li>
      <li> <a href="https://nl.wikipedia.org/wiki/13_Reasons_Why"> Wikipedia </a></li>
      <li> <a href="https://www.youtube.com/watch?v=JebwYGn5Z3E"> Trailer </a></li>
      <li> <a href="https://www.youtube.com/watch?v=eZW7bkholrc"> Soundstrack </a></li>
      <li> <a href="http://www.thirteenreasonswhy.com/thirteenreasonswhy.html"> Book </a></li>
    </ul>
      <p id="made"> Made by Alexandra </p>
  </footer>
</html>
