<% include header %>
<% include nav %>

<div class="gridcontainer2">
    <div class="title">
          <h1>Four</h1>
    </div>
    <div class="character">
          <img src="./img/four.jpg" class="size">
    </div>
    <div class="number">
          <p class="cijfer">4</p>
    </div>
    <div class="desc">
          <h2 class="spatie"> Tyler Down allegedly took pictures of Hannah through her window (she calls him a Peeping Tom).</h2>
          <p class="episode spatie"> Peeping Tom? No, thank you. We don't even want to give this guy a chance. But Tyler, number four on Hannah's list, is one of the book's most problematic characters. Hannah accuses him of stalking her, spying on her, and taking pictures through her bedroom window.
            The problem is, Hannah doesn't have any real evidence that the person outside her window was Tyler. Even though Clay accepts her accusations as true, responsible readers cannot. </p>
          <p class="episode spatie"> When Hannah and Courtney Crimson surprise the peeper, neither of them sees his face or recognizes him as Tyler. Hannah bases everything on the fact that Tyler owns camera equipment and that he responded nervously when she asked him where he was on the night in question. She never sees actual pictures or confronts Tyler directly, even when she gives him a ride home.
          Hannah blames Tyler for taking away the safety of her bedroom. But she is unable to either confront him about it to be sure or report her suspicions to her parents or someone else who might be able to look into the matter and help her deal with it. </p>
    </div>
</div>

<% include footer %>
