<!doctype html>
<html>
	<head>
		<title>13 reasons why</title>
		<link rel="stylesheet" type="text/css" href="./css/reset.css">
		<link rel="stylesheet" type="text/css" href="./css/style.css">
		<link rel="icon" type="image/png" href="./img/cas.png"> 
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Rokkitt:300,400,700,900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
		<meta charset="utf-8">
	</head>
	<body>
