<% include header %>
<% include nav %>

<img src="./img/intro3.png" class="eyecatcher">

<div id="gridcontainer">
    <div class="title">
        <h1>13 REASONS WHY</h1>
    </div>
    <div id="tape">
        <img src="./img/intro2.png" class="eyecatcher">
    </div>
    <div id="line">
    </div>
    <div id="intro">
        <p>13 Reasons Why (gestileerd geschreven als Th1rteen R3asons Why) is een Amerikaanse tienerdrama-serie van Netflix uit 2017, gebaseerd op de gelijknamige young adult roman van Jay Asher.
Het eerste seizoen kwam uit op 31 maart 2017 op Netflix. In deze serie wordt het verhaal van Hannah Baker, een meisje dat net zelfmoord heeft gepleegd, onder de loep genomen. De mensen die haar hebben gekwetst krijgen een doosje met dertien cassettebandjes toegestuurd.
Op deze bandjes vertelt ze de redenen van haar zelfmoord.</p>
    </div>
    <div id="about">
        <p class="spatie">JAY ASHER has worked at an independent bookstore, an outlet bookstore, a chain bookstore, and two public libraries. He hopes, someday, to work for a used bookstore. When he is not writing, Jay plays guitar and goes camping.</p>
        <p class="spatie"> Jay Asher was born in Arcadia, California on September 30, 1975. He grew up with a family that encouraged him to pursue all of his interests, from playing the guitar to his writing. He attended Cuesta Community College right after graduating from San Luis Obispo High School. It was here where he wrote his first two children’s books for a class called Children’s Literature Appreciation. After high school, he decided he wanted to become an elementary school teacher. He then transferred to California Polytechnic State University in San Luis Obispo where he left his senior year in order to pursue his career as a serious writer. He married Joan Marie on September 7, 2002. Throughout his life he worked in various establishments, including working as a salesman in a shoe store and in libraries and bookstores. Many of his work experiences influenced some aspect of his writing. </p>
    </div>
    <div id="author">
        <img src="./img/author.png" id="auteur">
    </div>
</div>

<% include footer %>
