<% include header %>
<% include nav %>

<div class="gridcontainer2">
    <div class="title">
          <h1>Nine</h1>
    </div>
    <div class="character">
          <img src="./img/nine.jpg" class="size">
    </div>
    <div class="number">
          <p class="cijfer">9</p>
    </div>
    <div class="desc">
          <h2 class="spatie"> The ninth tape features Clay and assures him that he had nothing to do with Hannah's suicide. He was actually really good to Hannah; he even confessed his feelings to her and they kissed! </h2>
          <p class="episode spatie"> Clay is our main man here, our narrator and guide through the frightening world of Hannah Baker's last hours. Much of the action in this story takes place in Clay's head, which means we have some pretty good insight into his character. </p>
          <p class="episode spatie"> Hannah's words show Clay the dark underbelly of his town and of the other people on the list. Clay has grown up around all of the people she talks about, but only now does he realize that he doesn't truly know them.
            The tapes have a lot of different effects on Clay, but this reality check might just be the most life-changing. Everything that has happened to him now takes on new meaning as he considers a world of complications he never dreamed of.
            Is this fair? Clay isn't one of the bad guys, but now he has the weight of their actions on his shoulders. Sure, he will now be more sensitive to the world around him, but will his life be as bright, as happy as it could have been otherwise? We can't say, but it's important to realize that this reality check is not all good news for Clay.
            Whether or not you think Clay was at fault for Hannah's suicide, he certainly learns his lesson. At the end of the novel, we see Clay risk his reputation by striking up a new relationship with Skye Miller, his middle school crush and a possible suicide risk.
            It's hard for Clay to go against the grain and take this plunge, but he is clearly trying to use Hannah's tragic experience to help make the lives of other people better. Because we don't get to see much of Clay after he's done listening to these tapes, it's nice to see him reach out to Skye and start living life a little differently than before.</p>
    </div>
</div>

<% include footer %>
