<% include header %>
<% include nav %>

<div class="gridcontainer2">
    <div class="title">
          <h1>One</h1>
    </div>

    <div class="character">
          <img src="./img/one.jpg" class="size">
    </div>
    <div class="number">
          <p class="cijfer">1</p>
    </div>
    <div class="desc">
          <h2 class="spatie">Justin Foley, Hannah's first kiss, started rumors that they did more than just kiss.</h2>
          <p class="episode spatie"> Justin is a year older than Hannah. He's her first real crush and her first kiss. He's also, at least as far as Hannah knows, the original source of the rumors that she's a "slut"</p>
          <p class="episode spatie"> Hannah devotes an entire tape (two sides) to Justin. His first tape describes how he betrayed Hannah her freshman year by dumping her without a word and then spreading rumors about her. It's pretty easy to see why she's mad at him for that: he broke her heart, then stomped on it. Ugh.
            The second episode happened two years later and is much more confusing and complicated. First, the memories of her kiss with Justin were the reason she pushed Clay away the night of the party. Then, that same night, Justin allowed (or so Hannah believes) Bryce Walker to have sex with Jessica Davis while she was unconscious.
            Hannah blames Justin and herself for not stopping it when they both could and should have.First, let's look at these stories in terms of Hannah. Bottom line: someone she was in love with turned out to be a jerk. Her faith in humanity was already dwindling and these episodes only added to that.
            People just keep getting worse and worse, including her. And what do these episodes say about Justin? Well, if everything she says is true, he's really an awful person. He spread false and scathing rumors about a girl he barely knew and then he allowed a vicious physical assault to take place against a helpless victim. </p>
    </div>
</div>

<% include footer %>
