<% include header %>
<% include nav %>

<div class="gridcontainer2">
    <div class="title">
          <h1>Seven</h1>
    </div>
    <div class="character">
          <img src="./img/seven.jpg" class="size">
    </div>
    <div class="number">
          <p class="cijfer">7</p>
    </div>
    <div class="desc">
          <h2 class="spatie"> When Hannah ignored Zach Dempsey's attempts to comfort her after the incident with Marcus, Zach stole the notes of encouragement left for Hannah by classmates in her Peer Communications class.  </h2>
          <p class="episode spatie"> This is an interesting one. Zach actually starts out as a sympathetic character, trying to comfort Hannah after the Marcus incident at Rosie's. But when Hannah rejects his kindness, Zach, number seven on Hannah's list, steals Hannah's notes of encouragement from her Peer Communications class. Seems like an innocent prank to us, but to Hannah, it's much, much more.</p>
          <p class="episode spatie"> Hannah is deeply suicidal at this point in the story, so the idea that the other kids in her Peer Communications class can't communicate with her – not even through anonymous notes – is the last thing she needs.
            What might even be worse than losing her only source of encouragement is Zach's reaction when she confronts him about it. By completely ignoring Hannah and not even trying to make things up to her, Zach just adds to her feeling that everyone thinks she's worthless.
            What do you think about Hannah's role in this not-so-relationship? First, she pushes him away when he tries to help her at Rosie's. Was she being rude, or was she just too far gone for help at that point? What would have happened if she had allowed him to comfort her? Might things have turned out differently?
            And then of course, she sets up an elaborate plan to catch him in the act of note-stealing (reminds us of the elaborate plan of the tapes, too). Why doesn't she just confront him? Well, probably for the same reason she screams at him in the hallway after she spots him stealing her notes. Hannah's communication skills are at an all-time low, and we can't really blame her. When you feel like no one is listening to you, it's hard to try to communicate. </p>
    </div>
</div>

<% include footer %>
