<% include header %>
<% include nav %>

<div class="gridcontainer2">
    <div class="title">
          <h1>Six</h1>
    </div>
    <div class="character">
          <img src="./img/six.jpg" class="size">
    </div>
    <div class="number">
          <p class="cijfer">6</p>
    </div>
    <div class="desc">
          <h2 class="spatie"> After getting matched up with Hannah through a Valentine's Day survey, Marcus tried to make a move on her in a booth at Rosie's Diner. She had to push him out of the booth and onto the floor to get him to stop. </h2>
          <p class="episode spatie"> What makes a character stand out? Especially in a book where most of the characters are just names on a list, this is an important question to ask.
            Well, Marcus, number six on Hannah's list, is the only listed person that Clay meets while he's listening to the tapes. Before we even get to Marcus's tape, Clay finds him outside Tyler's window passing out rocks for people to throw. Marcus is eager to punish Tyler for peeping, but he brushes off Hannah's accusations about himself. He tells Clay, "It's ridiculous […].
            I don't belong on those tapes. Hannah just wanted an excuse to kill herself" (7.184).Marcus' reaction tells us something about him, but also about the nature of Hannah's list. Marcus definitely doesn't think he did anything wrong, yet he's super quick to assume that what Hannah says about Tyler is true – and blameworthy. Don't you think that everyone on that list might feel the same way? </p>
          <p class="episode spatie"> As we discuss in "Symbols, Imagery, and Allegory," Marcus represents a turning point for Hannah. After he tries to force her to let him touch her sexually in a booth at Rosie's Diner, Hannah begins to seriously consider suicide. Marcus asks her out, then humiliates and assaults her in a public place. Unfortunately, Hannah picks the wrong guy to work out her trust issues with. Marcus, and his perversion of what should have been a fun Valentine's Day game      helps convince Hannah that every choice she makes in matters of the heart is the wrong one. In addition to losing trust in others, Hannah is starting to lose trust in herself and her ability to make good decisions.</p>
    </div>
</div>

<% include footer %>
