<% include header %>
<% include nav %>

<div class="gridcontainer2">
    <div class="title">
          <h1>Ten</h1>
    </div>

    <div class="character">
          <img src="./img/ten.jpg" class="size">
    </div>
    <div class="number">
          <p class="cijfer">10</p>
    </div>
    <div class="desc">
          <h2 class="spatie"> Justin Foley, from the first tape, is back on the recordings. This time, Justin allowed Bryce Walker to rape Jessica while she was unconscious. </h2>
          <p class="episode spatie"> But hold on a second. We never do hear Justin's side of the story. This is true of all the characters, but because Justin was on two tapes, we think it's most important to mention it now. We're trusting Hannah, who is very emotionally unstable, to give us all the 4-1-1 we have on this dude. We're not saying we think he's a good guy (even if those stories were only partially true, he's still a royal jerk), but as good readers, we have to take into account that we have an unreliable narrator. (See our section on "Narrative Technique" for more on that.) </p>
          <p class="episode spatie"> </p>
    </div>
</div>

<% include footer %>
