<% include header %>
<% include nav %>

<div class="gridcontainer2">
    <div class="title">
          <h1>Thirteen</h1>
    </div>

    <div class="character">
          <img src="./img/thirteen.jpg" class="size">
    </div>
    <div class="number">
          <p class="cijfer">13</p>
    </div>
    <div class="desc">
          <h2 class="spatie"> Mr. Porter, Hannah's guidance counselor, didn't take her seriously when she said she was suicidal, and he let her leave his office without getting her any help.</h2>
          <p class="episode spatie"> Adults. They're supposed to be the ones to save you from the bullies, get your out of bad situations, and make you feel better about yourself… right? Mr. Porter, Hannah's guidance counselor, sure doesn't fit the bill. Because he's an adult, is he even more to blame for Hannah's death than the young kids who maybe just don't know any better? What do you think? </p>
          <p class="episode spatie"> Mr. Porter is the twelfth and final person on Hannah's list. His role in the story is simple: he fails to get help from a mental health professional or even to call Hannah's parents to alert them when she admits to him that she is suicidal. More than anybody else, Mr. Porter had the direct power to stop Hannah from killing herself. The big question is, why did he fail?
            Could it be poor training? Some fatal flaw in his character? Laziness? Apathy? Caution? Sleep deprivation? Whatever the reason, Mr. Porter doesn't use his maturity or his professional skills to understand that there truly is a problem. </p>
    </div>
</div>

<% include footer %>
