<% include header %>
<% include nav %>

<div class="gridcontainer2">
    <div class="title">
          <h1>Three</h1>
    </div>
    <div class="character">
          <img src="./img/three.jpg" class="size">
    </div>
    <div class="number">
          <p class="cijfer">3</p>
    </div>
    <div class="desc">
          <h2 class="spatie"> Jessica Davis was upset by this and ended up hitting Hannah, leaving a scar on her forehead. </h2>
          <p class="episode spatie"> Jessica is new to town, but she's not your typical wallflower new kid. She's bolder and more aggressive than Hannah: "In a contest of who's-got-the-biggest-balls, all of you listeners should know Jessica wins"(5.55). Unfortunately, Jessica is also pretty violent. This is where Hannah's story starts to get all tangled up, soap-opera style. </p>
          <p class="episode spatie"> After Alex Standall's pits the two girls against each other, Jessica accuses Hannah of stealing her man. When Hannah denies it, Jessica says, "'Hannah […], I know the rumors'"(5.111). Then Jessica hits Hannah, apparently embedding her fingernail in Hannah's forehead and leaving a scar.
            This is some pretty hefty symbolism here. Jessica's violence has left a physical scar on Hannah's forehead, which seems to represent the emotional scars that Hannah clearly lives with as well. For more on this, check out our section on "Symbols, Imagery, Allegory."This combination of violence, public humiliation, betrayal, and the loss of even a casual friendship with another girl weakens Hannah and contributes to her alienation. But Jessica's story and her importance in Hannah's life don't end here.
          </p>
    </div>
</div>

<% include footer %>
