<% include header %>
<% include nav %>

<div class="gridcontainer2">
    <div class="title">
          <h1>Twelve</h1>
    </div>

    <div class="character">
          <img src="./img/twelve.jpg" class="size">
    </div>
    <div class="number">
          <p class="cijfer">12</p>
    </div>
    <div class="desc">
          <h2 class="spatie"> One night, Bryce Walker started to touch Hannah in a hot tub, and he proceeded to rape her. </h2>
          <p class="episode spatie"> Bryce. Ugh. Words can't even describe how awful, despicable, and lowly this guy is. Jay Asher does a phenomenal job of making this dude seem like total pond scum.
            He's the eleventh person on Hannah's list, but he shows up a lot throughout the tapes (almost always being a bully – or worse – toward girls). In Bryce's tape, Hannah describes how she joined him in Courtney Crimson's hot tub after a party that Hannah didn't even go to. In the hot tub, Hannah allowed Bryce to have sex with her. This is a really confusing part of the story. </p>
          <p class="episode spatie"> Hannah's motivations for having sex with Bryce are anything but clear, to her or to most readers. All we can say is that it sure is some self-destructive behavior. Bryce is at fault here, of course, but Hannah isn't even stable enough to place that blame where it belongs.
            This brings us to one of the most troubling issues in the novel. Bryce, as Clay figures out, is the mystery man who Hannah claims raped the unconscious Jessica. Hannah's guilt over her failure to stop the alleged rape is, we think, a big factor in her ultimate decision to take her own life.
            Now imagine how this guilt is magnified when Hannah has sex with the rapist. Having sex with the worst person she knows just a week after she turns away the guy she really cares about is murder on Hannah's fragile self-esteem. She has officially become her own worst enemy. </p>
    </div>
</div>

<% include footer %>
