<% include header %>
<% include nav %>

<div class="gridcontainer2">
    <div class="title">
          <h1>Two</h1>
    </div>

    <div class="character">
          <img src="./img/two.jpg" class="size">
    </div>
    <div class="number">
          <p class="cijfer">2</p>
    </div>
    <div class="desc">
          <h2 class="spatie">Alex Standall pitted Hannah and Jessica Davis against each other by voting Hannah "Best Ass of the Freshman Class."</h2>
          <p class="episode spatie"> Alex is a new kid, just like Hannah. In fact, he's one of the first people in town that Hannah hangs out with. He's on her list because he put her on a list, as the "Best Ass in the Freshman Class" (4.8). This opens her up to physical violence, even more rumors, and some unwanted sexual advances.</p>
          <p class="episode spatie"> Hannah goes so far as to say, "Every single event documented here may never have happened had you, Alex, not written my name on that list. It's that simple"(4.45). If you're having a hard time seeing Alex as particularly blameworthy, don't worry – you're not alone. Even Clay agrees: "Alex's list was a joke. A bad one, true. But he had no idea it would affect her like this. This isn't fair" (4.48). Plus, Clay remembers Alex denying rumors that he was sexually involved with Hannah, as many people thought the list implied. Hannah's point is that, as she says, "people change when they see your name on a stupid list" (4.43).
          We absolutely agree, but that still doesn't quite justify the intense blame Hannah places on Alex. It might seem crystal-clear to Hannah, but we just can't connect Alex's list with things like Jenny Kurtz's run-in with a stop sign or Bryce Walker's alleged rape of Jessica Davis. We also can't blame Hannah for her reaction, though. When she was recording these tapes, she was vulnerable, scared, and of course suicidal. Everything she says must be heard with that in mind. Actually, unlike many of the other characters, Alex never reappears on the tapes in any major way. So maybe she even realized along the way that he wasn't as big of a player as she originally thought. What do you think? </p>
    </div>
</div>

<% include footer %>
